<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
<!--    <style>-->
<!--        .home{-->
<!--            position:relative;-->
<!--            width: 100%;-->
<!--            height: 100vh;-->
<!--            background: url(image/cup-coffee-with-pile-coffee-beans2.jpg) no-repeat;-->
<!--            background-size: cover;-->
<!--            background-position: center;-->
<!--            display: flex;-->
<!--            justify-content: space-between;-->
<!--            align-items: center;-->
<!--            padding: 80px 100px 0;-->
<!--        }-->
<!--    </style>-->


</head>
<body>
<section class="home">
<h1>Welcome to the Personal page <span th:text="${employeeLogin}"></span></h1>

<a href="/registerProduct">Continue Here</a>
</section>
</body>
</html>